@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 32 35% 95%;
    --foreground: 32 5% 8%;
    --card: 32 35% 90%;
    --card-foreground: 32 5% 10%;
    --popover: 32 35% 95%;
    --popover-foreground: 32 95% 8%;
    --primary: 32 96% 26%;
    --primary-foreground: 0 0% 0%;
    --secondary: 32 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -6 30% 85%;
    --muted-foreground: 32 5% 35%;
    --accent: -6 30% 80%;
    --accent-foreground: 32 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 32 5% 90%;
    --border: 32 30% 50%;
    --input: 32 30% 18%;
    --ring: 32 96% 66%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 32 35% 8%;
    --foreground: 32 5% 90%;
    --card: 32 35% 8%;
    --card-foreground: 32 5% 90%;
    --popover: 32 35% 5%;
    --popover-foreground: 32 5% 90%;
    --primary: 32 96% 66%;
    --primary-foreground: 0 0% 0%;
    --secondary: 32 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -6 30% 15%;
    --muted-foreground: 32 5% 60%;
    --accent: -6 30% 15%;
    --accent-foreground: 32 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 32 5% 90%;
    --border: 32 30% 18%;
    --input: 32 30% 18%;
    --ring: 32 96% 66%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: 100vh;
    max-height: -webkit-fill-available !important;
  }
}
